{% block title %}
    Consortium - GuideRadPROS
{% endblock %}

{% block active %}
    Participants
{% endblock %}

{% block content %}

<!-- Page title -->
<div id="main-wrapper" style="background: #aaaaaa; height: 20px;">
    <div class="container" id="section-title-container">
        <h2 style="color:white;margin-top: -20px;" id="section-title">Consortium</h2>
    </div>
</div>

    <!-- Consortium -->
    <div id="main-wrapper" style="margin-top: -20px;">
        <div class="container">
            <div id="content">

                <!-- Content -->
                <article>
                    <p>GuideRadPROS Consortium brings together 16 National Metrological Institutes (NMIs), 1
                        manufacturer of radiation detectors (Mirion Technologies, Finland) and 1 Secondary
                        Standard Dosimetry Laboratory (QST, Japan).
                        The following partners contribute to the project as part of the consortium:</p>

                    <!-- Logos -->
                    <div class="row" style="display: flex; justify-content: center; align-items: center; text-align: center;">
                        <!-- Logos first row -->
                        <div class="col-2 col-4-medium">
                            <a href="https://stuk.fi/en/frontpage">
                                <img src="images/logos/consortium/STUK.jpg" alt="" width="100%"/></a>
                            <br>Finland
                        </div>
                        <div class="col-2 col-4-medium">
                            <a href="https://www.cmi.cz/?language=en">
                                <img src="images/logos/consortium/CMI.jpg" alt="" width="100%"/></a>
                            <br>Czechia
                        </div>
                        <div class="col-2 col-4-medium">
                            <a href="https://www.gum.gov.pl/en/">
                                <img src="images/logos/consortium/GUM.jpg" alt="" width="100%"/></a>
                            <br>Poland
                        </div>
                        <div class="col-2 col-4-medium">
                            <a href="https://tecnico.ulisboa.pt/en/">
                                <img src="images/logos/consortium/IST.png" alt="" width="100%"/></a>
                            <br>Portugal
                        </div>
                        <div class="col-2 col-4-medium">
                            <a href="https://www.sckcen.be/en">
                                <img src="images/logos/consortium/SCKCEN.png" alt="" width="100%"/></a>
                            <br>Belgium
                        </div>
                        <div class="col-2 col-4-medium">
                            <a href="https://inm.md/eng">
                                <img src="images/logos/consortium/LOGO INM.jpg" alt="" width="100%"/></a>
                            <br>Republic of Moldova
                        </div>
                        <!-- Logos second row -->
                        <div class="col-3 col-6-medium">
                            <a href="https://www.ciemat.es/portal.do">
                                <img src="images/logos/consortium/CIEMAT.jpg" alt="" width="90%"/></a>
                            <br>Spain
                        </div>
                        <div class="col-3 col-6-medium">
                            <a href="https://www.enea.it/en/">
                                <img src="images/logos/consortium/ENEA-INMRI.jpg" alt="" width="90%"/></a>
                            <br>Italy
                        </div>
                        <div class="col-3 col-6-medium">
                            <a href="https://www.ptb.de/cms/en.html">
                                <img src="images/logos/consortium/PTB-Logo_RGB_englisch.png" alt="" width="90%"/></a>
                            <br>Germany
                        </div>
                        <div class="col-3 col-6-medium">
                            <a href="https://eeae.gr/en/">
                                <img src="images/logos/consortium/EEAE.png" alt="" width="110%"/></a>
                            <br>Greece
                        </div>
                        <!-- Logos third row -->
                        <div class="col-2 col-4-medium">
                            <a href="https://www.cea.fr/english">
                                <img src="images/logos/consortium/CEA.png" alt="" width="80%"/></a>
                            <br>France
                        </div>
                        <div class="col-2 col-4-medium">
                            <a href="https://www.met.gov.ba/en/">
                                <img src="images/logos/consortium/IMBiH.png" alt="" width="80%"/></a>
                            <br>Bosnia and Herzegovina
                        </div>
                        <div class="col-2 col-4-medium">
                            <a href="https://www.tenmak.gov.tr/en/">
                                <img src="images/logos/consortium/TENMAK.png" alt="" width="80%"/></a>
                            <br>Turkey
                        </div>
                        <div class="col-2 col-4-medium">
                            <a href="https://www.vin.bg.ac.rs/en/">
                                <img src="images/logos/consortium/VINS.jpg" alt="" width="80%"/></a>
                            <br>Serbia
                        </div>
                        <div class="col-2 col-4-medium">
                            <a href="https://www.irb.hr/eng/">
                                <img src="images/logos/consortium/IRB.png" alt="" width="80%"/></a>
                            <br>Croatia
                        </div>
                        <div class="col-2 col-4-medium">
                            <a href="https://www.ipq.pt/">
                                <img src="images/logos/consortium/IPQ.png" alt="" width="80%"/></a>
                            <br>Portugal
                        </div>
                        <!-- Logos fourth row -->
                        <div class="col-2 col-4-medium">
                            <a href="https://www.mirion.com/">
                                <img src="images/logos/consortium/Mirion.png" alt="" width="100%"/></a>
                            <br>Finland
                        </div>
                        <div class="col-2 col-4-medium">
                            <a href="https://www.qst.go.jp/site/qst-english/">
                                <img src="images/logos/consortium/QST.jpg" alt="" width="100%"/></a>
                            <br>Japan
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>

{% endblock %}

