{% block title %}
Deliverables - GuideRadPROS
{% endblock %}

{% block active %}
Deliverables
{% endblock %}

{% block content %}

<!-- Page title -->
<div id="main-wrapper" style="background: #aaaaaa; margin-bottom: 20px; height: 10px;">
    <div class="container" id="section-title-container">
        <h2 style="color:white;margin-top: -20px;" id="section-title">Deliverables</h2>
    </div>
</div>

<!-- Deliverables -->
<div class="container">
    <div class="custom-container">


        <!-- Work package 1 -->
        <div class="custom-box">
            <div class="custom-columns">
                <!-- First column -->
                <div class="custom-col-2">
                    <!-- Image and text -->
                    <img src="images/icons/icon-spectrum.png" alt="" width="50%"/>
                    <h3>WP 1</h3>
                </div>
                <!-- Second column -->
                <div class="custom-col-10">
                            
                            <h6 class="deliverable-text"> <span class="deliverable-id">D1 (M30):</span> Summary report on developing a harmonised approach to X-ray spectrometry in accordance
                                with the ISO 4037 standard series. This includes evaluating the discrepancies between
                                measured and calculated half value layer (HVL) of X-ray spectra to produced data to
                                update requirements for X-ray fields
                            </h6>
                            <hr>
                            <h6 class="deliverable-text"> <span class="deliverable-id">D2 (M36):</span> Good practice guide on reference field spectrometry and attributed uncertainty</h6>
                </div>
            </div>
        </div>


        <!-- Work package 2 -->
        <div class="custom-box">
            <div class="custom-columns">
                <!-- First column -->
                <div class="custom-col-2">
                    <!-- Image and text -->
                    <img src="images/icons/icon-webinar.png" alt="" width="50%"/>
                    <h3>WP 2</h3>
                </div>
                <!-- Second column -->
                <div class="custom-col-10">
                            
                            <h6 class="deliverable-text"> <span class="deliverable-id">D3 (M33):</span> Report on training course for calibration of dosimeters, including cost effective
                                procedures and guidance, with respect to actual quantities according to the ISO 4037
                                standard series and ICRU Report 95 quantities
                            </h6>
                            <hr>
                            <h6 class="deliverable-text"> <span class="deliverable-id">D4 (M36):</span> Open access e-learning resources for calibration of the dosimeters according to the ISO
                                4037 standard series
                            </h6>
                </div>
            </div>
        </div>


        <!-- Work package 3 -->
        <div class="custom-box">
            <div class="custom-columns">
                <!-- First column -->
                <div class="custom-col-2">
                    <!-- Image and text -->
                    <img src="images/icons/icon-meter.png" alt="" width="50%"/>
                    <h3>WP 3</h3>
                </div>
                <!-- Second column -->
                <div class="custom-col-10">
                         
                            <h6 class="deliverable-text"> <span class="deliverable-id">D5 (M24):</span> Report on the current state of the art and overview of commonly used radiation
                                protection dosimeters and their capabilities
                            </h6>
                            <hr>
                            <h6 class="deliverable-text"> <span class="deliverable-id">D6 (M36):</span> Guidelines on validated procedures for harmonised type testing based on existing IEC
                                standards (e.g., IEC 61526, IEC 60846-1, IEC 60846-2, IEC 61017, IEC 60532, and IEC
                                62387) including a report on where requirements in existing standards deviate and
                                standardisation gaps exist for radiation protection dosimeters for photon radiation
                            </h6>
                </div>
            </div>
        </div>


        <!-- Work package 4 -->
        <div class="custom-box">
            <div class="custom-columns">
                <!-- First column -->
                <div class="custom-col-2">
                    <!-- Image and text -->
                    <img src="images/icons/icon-innovation.png" alt="" width="50%"/>
                    <h3>WP 4</h3>
                </div>
                <!-- Second column -->
                <div class="custom-col-10">

                            <h6 class="deliverable-text"> <span class="deliverable-id">D7 (M26):</span> Report on assessing the future standardisation needs related to new and upcoming
                                technologies
                            </h6>
                            <hr>
                            <h6 class="deliverable-text"> <span class="deliverable-id">D8 (M30):</span> Guidelines on the implementation of new operational quantities of ICRU 95 into standards
                                and regulations and recommendations for incorporation of this information into future
                                standards
                            </h6>
                </div>
            </div>
        </div>

        
        <!-- No Work package -->
        <div class="custom-box">
            <div class="custom-columns">
                <!-- First column -->
                <div class="custom-col-2">
                    <!-- Image and text -->
                    <img src="images/icons/arrow-circle.png" alt="" width="50%"/>
                    <h3>General</h3>
                </div>
                <!-- Second column -->
                <div class="custom-col-10">
                            <h6 class="deliverable-text"> <span class="deliverable-id">D9 (M36):</span> Evidence of contributions to new or improved standards with a specific focus on the
                                following guides and committees: ISO TC85, IEC TC45. Examples of early uptake of project
                                outputs by end-users. Updated dissemination, communication and exploitation plan.
                            </h6>
                            <hr>
                            <h6 class="deliverable-text"> <span class="deliverable-id">D10 (M26):</span> Delivery of all technical and financial reporting documents as required by EURAMET.</h6>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}