{% block title %}
    Documents - GuideRadPROS
{% endblock %}

{% block active %}
    Impact
{% endblock %}

{% block content %}

<!-- Page title -->
<div id="main-wrapper" style="background: #aaaaaa; padding-bottom: 10px; padding-top: 50px">
    <div class="container">
        <h2 style="color:white;">Documents</h2>
    </div>
</div>

<!-- Documents -->
<div id="features-wrapper">
    <div class="container">
        <div class="grid-container">

            <!-- Document 3 -->
                <div class="card">
                <section>
                    <!-- <a href="#" class="image featured"><img src="images/placeholders/pic01.jpg" alt=""/></a> -->
                    <div class="icon-container">
                        <a href="files/documents/GuideRadPROS_Publishable_Summary_M1_MSU_Approved.pdf"><img src="images/icons/document.png" alt="" width="40%" style="padding-top: 25px;"/></a>
                    </div>
                    <div class="inner">
                        <header>
                            <h2 id="card-title">GuideRadPROS Publishable summary</h2>
                        </header>
                    </div>
                </section>
            </div>

            <!-- Document 2 -->
                <div class="card">
                <section>
                    <!-- <a href="#" class="image featured"><img src="images/icons/meeting.png" alt="" style="padding: 20px;"/></a> -->
                    <div class="icon-container">
                        <a href="files/documents/GuideRadPROS_Flyer_18092023.pdf"><img src="images/icons/flyer.png" alt="" width="40%" style="padding-top: 25px;"/></a>
                    </div>
                    <div class="inner">
                        <header>
                            <h2 id="card-title">GuideRadPROS Flyer</h2>
                        </header>
                    </div>
                </section>
            </div>

            <!-- Document 1 -->
                <div class="card">
                <section>
                    <!-- <a href="#" class="image featured"><img src="images/icons/meeting.png" alt="" style="padding: 20px;"/></a> -->
                    <div class="icon-container">
                        <a href="files/documents/GuideRadPROS_Poster_18092023.pdf"><img src="images/icons/poster.png" alt="" width="40%" style="padding-top: 25px;"/></a>
                    </div>
                    <div class="inner">
                        <header>
                            <h2 id="card-title">GuideRadPROS Poster</h2>
                        </header>
                    </div>
                </section>
            </div>

        </div>
    </div>
</div>

{% endblock %}

