{% block title %}
    Documents - GuideRadPROS
{% endblock %}

{% block active %}
    Impact
{% endblock %}

{% block content %}

<!-- Page title -->
<div id="main-wrapper" style="background: #aaaaaa; margin-bottom: 20px; height: 10px;">
    <div class="container" id="section-title-container">
        <h2 style="color:white; margin-top: -20px;" id="section-title">Documents</h2>
    </div>
</div>

<!-- Documents -->
<div id="features-wrapper">
    <div class="container">
        <div class="grid-container" id="documents-container">
            <!-- Cards will be injected here by JavaScript -->
        </div>
    </div>
</div>


<script>
    // JavaScript to load JSON and generate cards
    document.addEventListener("DOMContentLoaded", function() {
        fetch('data/documents.json')
            .then(response => response.json())
            .then(data => {
                const container = document.getElementById('documents-container');
                data.forEach(doc => {
                    const card = document.createElement('div');
                    card.className = 'card';
                    card.innerHTML = `
                        <section>
                            <div class="icon-container">
                                <a href="${doc.documentUrl}"><img src="${doc.imageUrl}" alt="" width="40%" style="padding-top: 25px;"/></a>
                            </div>
                            <div class="inner">
                                <header>
                                    <h2 id="card-title">${doc.title}</h2>
                                </header>
                            </div>
                        </section>
                    `;
                    container.appendChild(card);
                });
            })
            .catch(error => console.error('Error loading JSON:', error));
    });
    </script>
    
{% endblock %}




