{% block title %}
Events - GuideRadPROS
{% endblock %}

{% block active %}
Impact
{% endblock %}

{% block content %}

 <!-- Page title -->
 <div id="main-wrapper" style="background: #aaaaaa; margin-bottom: 20px; height: 10px;">
    <div class="container" id="section-title-container">
        <h2 style="color:white; margin-top: -20px;" id="section-title">Events</h2>
    </div>
</div>

<!-- Events -->
<div id="features-wrapper">
    <div class="container">
        <div id="events-container" class="grid-container">
            <!-- Event cards will be inserted here -->
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<!-- Events load script -->
<script src="assets/js/generateEvents.js"></script>
{% endblock %}


