{% block title %}
Events - GuideRadPROS
{% endblock %}

{% block active %}
Impact
{% endblock %}

{% block content %}

<!-- Page title -->
<div id="main-wrapper" style="background: #aaaaaa; padding-bottom: 10px; padding-top: 50px">
    <div class="container">
        <h2 style="color:white;">Events</h2>
    </div>
</div>

<!-- Events -->
<div id="features-wrapper">
    <div class="container">
        <div class="row" style="text-align: center">

            <!-- Event 4 -->
            <div class="col-3 col-12-medium">
                <section class="box feature">
                    <!-- <a href="#" class="image featured"><img src="images/placeholders/pic01.jpg" alt=""/></a> -->
                    <div class="icon-container">
                        <img src="images/icons/meeting.png" alt="" width="40%" style="padding-top: 25px;"/>
                    </div>
                    <div class="inner">
                        <header>
                            <h2>First Stakeholder Committee meeting of GuideRadPROS</h2>
                            <p>27th February 2024</p>
                        </header>
                        <p> The first Stakeholder Committee meeting was held in a virtual platform on the 27th February
                            2024. The agenda of the meeting included an introduction of the project, presentations of
                            stakeholders and a discussion with feedback for the progress of the project consortium.</p>
                    </div>
                </section>
            </div>

            <!-- Event 3 -->
            <div class="col-3 col-12-medium">
                <section class="box feature">
                    <a href="#" class="image featured"><img src="images/photos/M9_technical_visit_croped.svg" alt=""/></a>
                    <!--<div class="icon-container">
                        <img src="images/photos/M9_technical_visit_1.jpg" alt="" width="40%" style="padding-top: 25px;"/>
                    </div>-->
                    <div class="inner">
                        <header>
                            <h2>GuideRadPROS technical visit</h2>
                            <p>9th February 2024</p>
                        </header>
                        <p>Short technical visit at the x-ray laboratories of ENEA (Casaccia, Italy) in order
                            spectrometry of ISO 4037 standard x-ray beam qualities.</p>
                    </div>
                </section>
            </div>

            <!-- Event 2 -->
            <div class="col-3 col-12-medium">
                <section class="box feature">
                    <a href="#" class="image featured"><img src="images/photos/M9_meeting.svg" alt=""/></a>
                    <!-- <div class="icon-container">
                        <img src="images/photos/M9_meeting.jpg" alt="" width="40%" style="padding-top: 25px;"/>
                    </div> -->
                    <div class="inner">
                        <header>
                            <h2>M9 GuideRadPROS meeting</h2>
                            <p>7-8 February 2024</p>
                        </header>
                        <p>The M9 meeting of the 22NRM07 GuideRadPROS Project was held in Ospedale Bambino Gesù
                            (Italy).</p>
                    </div>
                </section>
            </div>

            <!-- Event 1 -->
            <div class="col-3 col-12-medium">
                <section class="box feature">
                    <a href="#" class="image featured"><img src="images/photos/Kick_off_meeting.svg" alt=""/></a>
                    <!-- <div class="icon-container">
                        <img src="images/photos/Kick_off_meeting.png" alt="" width="40%" style="padding-top: 25px;"/>
                    </div> -->
                    <div class="inner">
                        <header>
                            <h2>1st kick off meeting of GuideRadPROS Consortium</h2>
                            <p>10-11 July 2023</p>
                        </header>
                        <p>The 1st meeting of the EURAMET EMP 22NRM07 GuideRadPROS Consortium took place in Finland at
                            STUK (Vantaa).</p>
                    </div>
                </section>
            </div>

        </div>
    </div>
</div>
{% endblock %}

