{% block title %}
    Impact - GuideRadPROS
{% endblock %}

{% block active %}
    Impact
{% endblock %}

{% block content %}

   <!-- Page title -->
   <div id="main-wrapper" style="background: #aaaaaa; margin-bottom: 20px; height: 10px;">
    <div class="container" id="section-title-container">
        <h2 style="color:white;margin-top: -20px;" id="section-title">Impact</h2>
    </div>
</div>

<!-- E-Learning -->
<div id="main-wrapper" style="margin-top: -25px;">
    <div class="container">
        <div id="content">
            <!-- Content -->
            <article>
                <p id="article-content">
                    <strong>Communication</strong> and <strong>dissemination</strong> of the technical and scientific
                    results of the 22NRM07 GuideRadPROS EMP project is a fundamental part of the project.
                    As of today, the 22NRM07 GuideRadPROS EMP project has produced
                    <strong id="document-count"></strong> official <strong>documents</strong>,
                    <strong>1</strong> peer-reviewed <strong>publications</strong> and
                    <strong id="conference-count"></strong> contributions to national and international <strong>conferences</strong>.
                    Additionally, <strong id="event-count"></strong> <strong>events</strong> related to the project have been held.</p>
            </article>
        </div>
    </div>
</div>

<!-- Documents -->
<div id="features-wrapper" style="margin-top: 30px;">
    <div class="container">
        <!-- Header -->
        <div class="row">
            <div>
                <h2 id="section-title">Documents</h2>
            </div>
            <div>
                <div>
                    <a href="documents.html" class="button icon solid fa-arrow-circle-right"> <span class="text-hide">See more </span> </a>
                </div>
            </div>
        </div>
        <!-- Boxes -->
        <div class="grid-container" id="documents-grid">
            <!-- Document cards will be loaded here -->
        </div>
    </div>
</div>

<!-- Events -->
<div id="features-wrapper">
    <div class="container">
        <!-- Header -->
        <div class="row">
            <div>
                <h2 id="section-title">Events</h2>
            </div>
            <div>
                <div>
                    <a href="events.html" class="button icon solid fa-arrow-circle-right"><span class="text-hide">See more </span></a>
                </div>
            </div>
        </div>
        <!-- Boxes -->
        <div class="grid-container" id="events-grid">
            <!-- Event cards will be loaded here -->
        </div>
    </div>
</div>

<!-- Conferences -->
<div id="features-wrapper">
    <div class="container">
        <!-- Header -->
        <div class="row">
            <div>
                <h2 id="section-title">Conferences</h2>
            </div>
            <div>
                <div>
                    <a href="conferences.html" class="button icon solid fa-arrow-circle-right"><span class="text-hide">See more </span></a>
                </div>
            </div>
        </div>
        <!-- Boxes -->
        <div class="grid-container" id="conferences-grid">
            <!-- Conference cards will be loaded here -->
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<!-- Impact load script -->
<script src="assets/js/generateImpact.js"></script>
<script src="assets/js/generateCounters.js"></script>
{% endblock %}
