{% block title %}
    GuideRadPROS
{% endblock %}

{% block active %}
    Home
{% endblock %}

{% block content %}

<!-- Project image -->
<div>
    <img src="images/project.svg" alt="Project image" style="width: 100%;">
</div>

<!-- Project overview -->
<div id="main-wrapper">
    <div class="container">
        <div class="row gtr-200">

            <!-- Content -->
            <div class="col-8 col-12-medium imp-medium">
                <div id="content">
                    <section class="last">
                        <h2>Project overview</h2>
                        <p><strong>Photon dosimeters</strong> are used for measuring radiation in applications such as
                            environmental monitoring,
                            emergency response and protection of workers to protect people from the harmful effects of
                            ionising radiation.</p>
                        <p>However, the recent update of the basic standard for photon reference radiation fields in
                            radiation protection, <strong>ISO 4037</strong>,
                            in conjunction with the new radiation protection quantities introduced in <strong>ICRU
                                Report 95</strong> (International Commission on Radiation Units and Measurements),
                            have presented significant challenges to calibration laboratories and industry.</p>
                        <p>The <strong>GuideRadPROS</strong> project will provide protocols and guidance to metrology
                            institutes, standardisation bodies and regulators
                            for a consistent and harmonised approach to radiation protection measurements and
                            calibrations following ISO 4037.
                            Proposals to update ISO 4037 and future needs for type testing and implementation of new
                            quantities according to ICRU Report 95 will also be provided.</p>
                    </section>
                </div>
            </div>

            <!-- Sidebar -->
            <div class="col-4 col-12-medium">
                <div id="sidebar">
                    <section class="widget thumbnails">
                        <h3>Work packages</h3>
                        <div class="grid">
                            <div class="row gtr-50">
                                <div class="col-3"><a href="packages.html" class="image fit"><img
                                        src="images/icons/icon-spectrum.png" alt=""/></a></div>
                                <div class="col-9"><p><strong>WP1</strong>: Validation of requirements and methods
                                    related to reference fields according to ISO 4037 and guide for spectrometry</p>
                                </div>
                                <div class="col-3"><a href="packages.html" class="image fit"><img
                                        src="images/icons/icon-webinar.png" alt=""/></a></div>
                                <div class="col-9"><p><strong>WP2</strong>: Training on requirements of ISO 4037 and
                                    calibration in reference fields</p></div>
                                <div class="col-3"><a href="packages.html" class="image fit"><img
                                        src="images/icons/icon-meter.png" alt=""/></a></div>
                                <div class="col-9"><p><strong>WP3</strong>: Harmonisation and update of type testing
                                    standards</p></div>
                                <div class="col-3"><a href="packages.html" class="image fit"><img
                                        src="images/icons/icon-innovation.png" alt=""/></a></div>
                                <div class="col-9"><p><strong>WP4</strong>: New technologies and quantities</p></div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Latest updates -->
<div id="features-wrapper">
    <div class="container">

        <!-- Header -->
        <div class="row">
            <div class="col-6 col-12-medium">
                <h2>Latest updates</h2>
            </div>
            <div class="col-6 col-12-medium">
                <div style="text-align: right;">
                    <a href="impact.html" class="button icon solid fa-arrow-circle-right">See more</a>
                </div>
            </div>
        </div>

        <!-- Cards -->
        <div class="grid-container">

            <!-- Update 4 -->
            <div class="card">
                <!-- Box -->
                <section>
                    <!-- <a href="#" class="image featured"><img src="images/icons/congress.png" alt=""/></a> -->
                    <div class="icon-container">
                        <img src="images/conferences/IRPA_logo.png" alt="" width="90%" style="padding-top: 25px;"/>
                    </div>
                    <div class="inner">
                        <header>
                            <h2 id="card-title">IRPA 16 HPS</h2>
                            <p id="card-date">7-12 July 2024, USA</p>
                        </header>
                        <p id="card-content"><a href="files/publications/2024_IRPA_Abstract.pdf">Contribution</a> to the 16th
                            International Congress of the International Radiation Protection Association (<a
                                    href="http://irpa2024.com/">IRPA 16 HPS</a>), to be held in Orlando, Florida.</p>
                    </div>
                </section>
            </div>

            <!-- Update 3 -->
            <div class="card">
                <section>
                    <!-- <a href="#" class="image featured"><img src="images/placeholders/pic01.jpg" alt=""/></a> -->
                    <div class="icon-container">
                        <img src="images/icons/meeting.png" alt="" width="40%" style="padding-top: 25px;"/>
                    </div>
                    <div class="inner">
                        <header>
                            <h2 id="card-title">First Stakeholder Committee meeting of GuideRadPROS</h2>
                            <p id="card-date">27th February 2024</p>
                        </header>
                        <p id="card-content"> The first Stakeholder Committee meeting was held in a virtual platform on the 27th February
                            2024. The agenda of the meeting included an introduction of the project, presentations of
                            stakeholders and a discussion with feedback for the progress of the project consortium.</p>
                    </div>
                </section>
            </div>

            <!-- Update 2 -->
            <div class="card">
                <section>
                    <a href="#" class="image featured"><img src="images/photos/M9_technical_visit_croped.svg" alt=""/></a>
                    <!--<div class="icon-container">
                        <img src="images/photos/M9_technical_visit_1.jpg" alt="" width="40%" style="padding-top: 25px;"/>
                    </div>-->
                    <div class="inner">
                        <header>
                            <h2 id="card-title">GuideRadPROS technical visit</h2>
                            <p id="card-date">9th February 2024</p>
                        </header>
                        <p id="card-content">Short technical visit at the x-ray laboratories of ENEA (Casaccia, Italy) in order
                            spectrometry of ISO 4037 standard x-ray beam qualities.</p>
                    </div>
                </section>
            </div>

            <!-- Update 1 -->
            <div class="card">
                <section>
                    <a href="#" class="image featured"><img src="images/photos/M9_meeting.svg" alt=""/></a>
                    <!-- <div class="icon-container">
                        <img src="images/photos/M9_meeting.jpg" alt="" width="40%" style="padding-top: 25px;"/>
                    </div> -->
                    <div class="inner">
                        <header>
                            <h2 id="card-title">M9 GuideRadPROS meeting</h2>
                            <p id="card-date">7-8 February 2024</p>
                        </header>
                        <p id="card-content">The M9 meeting of the 22NRM07 GuideRadPROS Project was held in Ospedale Bambino Gesù
                            (Italy).</p>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<!-- Financial acknowledgement -->

<div class="box container">
    <div style="text-align: center;">
        <p>The project 22NRM07 GuideRadPROS has received funding from the European Partnership on Metrology,
            co-financed from the European Union’s Horizon Europe Research and Innovation Programme and by the
            Participating States</p>
    </div>
    <a href="https://www.euramet.org/research-innovation/metrology-partnership" class="image featured"><img
            src="images/logos/acknowledgement-badge.jpg" alt=""/></a>
</div>

{% endblock %}

