{% block title %}
E-Learning - GuideRadPROS
{% endblock %}

{% block active %}
E-Learning
{% endblock %}

{% block content %}

<!-- Page title -->
<div id="main-wrapper" style="background: #aaaaaa;margin-bottom: 20px; height: 10px;">
    <div class="container" id="section-title-container">
        <h2 style="color:white;margin-top: -20px;" id="section-title">E-Learning</h2>
    </div>
</div>

<!-- E-Learning -->
<div id="main-wrapper" style="margin-top: -25px;">
    <div class="container">
        <p>A fundamental part of the 22NRM07 GuideRadPROS EMP project is to provide <strong>learning
            resources</strong> on the <strong>ISO 4037</strong> standard series, focusing on how to calibrate
            photon dosimeters.
            The <strong>target groups</strong> of these learning resources are National Metrology Institutes,
            Institutes and Secondary Standard Dosimetry Laboratories.
            Two types of learning resources are developed within the 22NRM07 GuideRadPROS EMP project:
            <strong>training courses</strong> and <strong>open e-learning materials</strong>.</p>
        <h3>First online training workshop</h3>
        <div class="row">
            <div class="col-8 col-12-small">
                <p>The <strong>first training workshop</strong> within the 22NRM07 GuideRadPROS EMP project will
                    take place online, and it will last two days, from September 30th to October 1st 2024.
                    The aim of this first workshop is to test the developed theoretical training material.
                    See the workshop flyer for more information.
                    The topics to be covered are:</p>
                <ul>
                    <li>Requirements of ISO 4037:2019 and ISO 29661.</li>
                    <li>Setting up x-ray and gamma reference fields.</li>
                    <li>Good practices for spectrometry.</li>
                    <li>Monitor chambers</li>
                    <li>High voltage dividers.</li>
                    <li>HVL measurements.</li>
                    <li>Field homogeneity measurements.</li>
                    <li>Performing calibrations and type testing.</li>
                    <li>Evaluation of measurement uncertainty.</li>
                    <li>Requirements for new ICRU 95 quantities.</li>
                </ul>
            </div>
            <div class="col-4 col-12-small">
                <a href="images/First_workshop_flyer.png" class="image featured">
                    <img src="images/First_workshop_flyer.png" alt="Workshop flyer"/>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}