{% block title %}
    E-Learning - GuideRadPROS
{% endblock %}

{% block active %}
    E-Learning
{% endblock %}

{% block content %}

<!-- Page title -->
<div id="main-wrapper" style="background: #aaaaaa;margin-bottom: 20px; height: 10px;">
    <div class="container" id="section-title-container">
        <h2 style="color:white;margin-top: -20px;" id="section-title">E-Learning</h2>
    </div>
</div>

    <!-- E-Learning -->
    <div id="main-wrapper" style="margin-top: -25px;">
        <div class="container">
            <div id="content">

                <!-- Content -->
                <article>
                    <p>Within the duration of the 22NRM07 GuideRadPROS EMP project several sources of e-learning
                        material will be available to provide training to emerging metrology institutes and produce open
                        e-learning materials on the calibration procedures.</p>
                </article>

            </div>
        </div>
    </div>

{% endblock %}

