{% block title %}
Work packages - GuideRadPROS
{% endblock %}

{% block active %}
Work Packages
{% endblock %}

{% block content %}

<!-- Page title -->
<div id="main-wrapper" style="background: #aaaaaa; padding-bottom: 10px; padding-top: 50px">
    <div class="container">
        <h2 style="color:white;">Work Packages</h2>
    </div>
</div>


<!-- Work packages 1 - 4-->
<div id="features-wrapper">
    <div class="container">
        <div class="row" style="text-align: center">

            <!-- Work Package 1 -->
            <div class="col-3 col-12-medium">
                <section class="box feature">
                    <!-- <a href="#" class="image featured"><img src="images/placeholders/pic01.jpg" alt=""/></a> -->
                    <div class="icon-container">
                        <a href="#wp1"><img src="images/icons/icon-spectrum.png" alt="" width="40%" style="padding-top: 25px;"/></a>
                    </div>
                    <div class="inner">
                        <header>
                            <h2>Work Package 1</h2>
                        </header>
                        <p>Validation of requirements and methods related to reference fields according to ISO 4037 and
                            guide for spectrometry</p>
                        <div style="padding-top: 25px;">
                            <a href="#wp1" class="button icon fa-file-alt">More</a>
                        </div>
                    </div>
                </section>
            </div>
            <!-- End of col -->

            <!-- Work Package 2 -->
            <div class="col-3 col-12-medium">
                <section class="box feature">
                    <!-- <a href="#" class="image featured"><img src="images/placeholders/pic01.jpg" alt=""/></a> -->
                    <div class="icon-container">
                        <a href="#wp2"><img src="images/icons/icon-webinar.png" alt="" width="40%" style="padding-top: 25px;"/></a>
                    </div>
                    <div class="inner">
                        <header>
                            <h2>Work Package 2</h2>
                        </header>
                        <p>Training on requirements of ISO 4037 and calibration in reference fields</p>
                        <div style="padding-top: 25px;">
                            <a href="#wp2" class="button icon fa-file-alt">More</a>
                        </div>
                    </div>
                </section>
            </div><!-- End of col -->

            <!-- Work Package 3 -->
            <div class="col-3 col-12-medium">
                <section class="box feature">
                    <!-- <a href="#" class="image featured"><img src="images/placeholders/pic01.jpg" alt=""/></a> -->
                    <div class="icon-container">
                        <a href="#wp3"><img src="images/icons/icon-meter.png" alt="" width="40%" style="padding-top: 25px;"/></a>
                    </div>
                    <div class="inner">
                        <header>
                            <h2>Work Package 3</h2>
                        </header>
                        <p>Harmonisation and update of type testing standards</p>
                        <div style="padding-top: 25px;">
                            <a href="#wp3" class="button icon fa-file-alt">More</a>
                        </div>
                    </div>
                </section>
            </div>
            <!-- End of col -->

            <!-- Work Package 4 -->
            <div class="col-3 col-12-medium">
                <section class="box feature">
                    <!-- <a href="#" class="image featured"><img src="images/placeholders/pic01.jpg" alt=""/></a> -->
                    <div class="icon-container">
                        <a href="#wp4"><img src="images/icons/icon-innovation.png" alt="" width="40%" style="padding-top: 25px;"/></a>
                    </div>
                    <div class="inner">
                        <header>
                            <h2>Work Package 4</h2>
                        </header>
                        <p>New technologies and quantities</p>
                        <div style="padding-top: 25px;">
                            <a href="#wp4" class="button icon fa-file-alt">More</a>
                        </div>
                    </div>
                </section>
            </div>
            <!-- End of col -->

            <!-- Work Package 5 -->
            <div class="col-6 col-12-medium">
                <section class="box feature">
                    <!-- <a href="#" class="image featured"><img src="images/placeholders/pic01.jpg" alt=""/></a> -->
                    <div class="icon-container">
                        <a href="#wp5"><img src="images/icons/megaphone.png" alt="" width="20%" style="padding-top: 25px;"/></a>
                    </div>
                    <div class="inner">
                        <header>
                            <h2>Work Package 5</h2>
                        </header>
                        <p>Creating impact</p>
                        <div style="padding-top: 25px;">
                            <a href="#wp5" class="button icon fa-file-alt">More</a>
                        </div>
                    </div>
                </section>
            </div>
            <!-- End of col -->

            <!-- Work Package 6 -->
            <div class="col-6 col-12-medium">
                <section class="box feature">
                    <!-- <a href="#" class="image featured"><img src="images/placeholders/pic01.jpg" alt=""/></a> -->
                    <div class="icon-container">
                        <a href="#wp6"><img src="images/icons/management.png" alt="" width="20%" style="padding-top: 25px;"/></a>
                    </div>
                    <div class="inner">
                        <header>
                            <h2>Work Package 6</h2>
                        </header>
                        <p>Management and coordination</p>
                        <div style="padding-top: 25px;">
                            <a href="#wp6" class="button icon fa-file-alt">More</a>
                        </div>
                    </div>
                </section>
            </div>
            <!-- End of col -->

        </div>
        <!-- End of row -->
    </div>
    <!-- End of container -->
</div>
<!-- End of features-wrapper -->

<!-- Work packages description -->
<div id="main-wrapper">
    <div class="container">
        <div class="row gtr-200">

            <!-- Work Package 1 -->
            <div class="col-7 col-12-medium">
                <div id="content">
                    <!-- Content -->
                    <article>
                        <h3 id="wp1">WP1: Validation of requirements and methods related to reference fields according to ISO
                            4037 and guide for spectrometry</h3>
                        <p>The aim is to evaluate the challenges posed by the ISO 4037 standard series on reference
                            fields, to test the stated requirements and methods related to matched and characterised
                            fields, and to provide the guidance in spectrometry needed for characterised fields.</p>
                    </article>

                </div>
            </div>
            <div class="col-5 col-12-medium">
                <div id="sidebar">
                    <!-- Sidebar -->
                    <section>
                        <h1>Tasks</h1>
                        <ul>
                            <li>Update on ISO 4037 requirements on reference fields</li>
                            <li>Comparison of dosimetric and spectrometric determination of conversion coefficients</li>
                            <li>Preparation of a spectrometry guide</li>
                        </ul>
                    </section>
                </div>
            </div>

            <!-- Work Package 2 -->
            <div class="col-7 col-12-medium">
                <div id="content">
                    <!-- Content -->
                    <article>
                        <h3 id="wp2">WP2: Training on requirements of ISO 4037 and calibration in reference fields</h3>
                        <p>The aim is to identify actual training needs regarding the implementation of ISO 4037
                            standard series for setting up new X-ray reference radiation fields and future changes due
                            to ICRU Report 95.</p>
                    </article>

                </div>
            </div>
            <div class="col-5 col-12-medium">
                <div id="sidebar">
                    <!-- Sidebar -->
                    <section>
                        <h1>Tasks</h1>
                        <ul>
                            <li>Develop theoretical training material and testing it in a workshop</li>
                            <li>Develop practical training content and testing in a workshop</li>
                            <li>Develop open-data e-learning material</li>
                        </ul>
                    </section>
                </div>
            </div>

            <!-- Work Package 3 -->
            <div class="col-7 col-12-medium">
                <div id="content">
                    <!-- Content -->
                    <article>
                        <h3 id="wp3">WP3: Harmonisation and update of type testing standards</h3>
                        <p>The aim is to review existing standards which are the basis for type testing of radiation
                            protection dosimeters and evaluate the need for an update. Different kinds of active and
                            passive photon dosimeters based on different technologies will be investigated.</p>
                    </article>

                </div>
            </div>
            <div class="col-5 col-12-medium">
                <div id="sidebar">
                    <!-- Sidebar -->
                    <section>
                        <h1>Tasks</h1>
                        <ul>
                            <li>Evaluate type testing standards and legal requirements</li>
                            <li>Overview of existing radiation protection dosimeters and current state of the art</li>
                            <li>Harmonisation and update of testing standards</li>
                        </ul>
                    </section>
                </div>
            </div>

            <!-- Work Package 4 -->
            <div class="col-7 col-12-medium">
                <div id="content">
                    <!-- Content -->
                    <article>
                        <h3 id="wp4">WP4: New technologies and quantities</h3>
                        <p>The aim is to assess future standardisation needs related to new and upcoming technologies
                            and to produce a guidance document for the implementation of the new operational quantities
                            of ICRU 95 into standards and regulations.</p>
                    </article>

                </div>
            </div>
            <div class="col-5 col-12-medium">
                <div id="sidebar">
                    <!-- Sidebar -->
                    <section>
                        <h1>Tasks</h1>
                        <ul>
                            <li>Evaluation of state-of-the-art and upcoming technologies</li>
                            <li>Impact of ICRU 95</li>
                        </ul>
                    </section>
                </div>
            </div>

            <!-- Work Package 5 -->
            <div class="col-7 col-12-medium">
                <div id="content">
                    <!-- Content -->
                    <article>
                        <h3 id="wp5">WP5: Creating impact</h3>
                        <p></p>
                    </article>

                </div>
            </div>
            <div class="col-5 col-12-medium">
                <div id="sidebar">
                    <!-- Sidebar -->
                    <section>
                        <h1>Tasks</h1>
                        <ul>
                            <li>Dissemination and communication</li>
                            <li>Exploitation and uptake</li>
                        </ul>
                    </section>
                </div>
            </div>

            <!-- Work Package 6 -->
            <div class="col-7 col-12-medium">
                <div id="content">
                    <!-- Content -->
                    <article>
                        <h3 id="wp6">WP6: Management and coordination</h3>
                        <p></p>
                    </article>

                </div>
            </div>
            <div class="col-5 col-12-medium">
                <div id="sidebar">
                    <!-- Sidebar -->
                    <section>
                        <h1>Tasks</h1>
                        <ul>
                            <li>Project management</li>
                            <li>Project meetings</li>
                            <li>Project reporting</li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

