{% block title %}
    Publications - GuideRadPROS
{% endblock %}

{% block active %}
    Impact
{% endblock %}

{% block content %}

<!-- Page title -->
<div id="main-wrapper" style="background: #aaaaaa; margin-bottom: 20px; height: 10px;">
    <div class="container" id="section-title-container">
        <h2 style="color:white;margin-top: -20px;" id="section-title">Publications</h2>
    </div>
</div>

<!-- Publications -->
<div id="main-wrapper" style="margin-top: -25px;">
    <div class="container">
        <div id="content">

            <!-- Content -->
            <article>
                <p>Within the duration of the 22NRM07 GuideRadPROS EMP project, publications in international journals
                    will be made to communicate and disseminate the technical and scientific results of the project.
                    In this section you can find the publications derived from the project.
                </p>
                <ol>
                  <li>Publication in the <strong>Proceedings of the International Joint Conference on Industrial
                      Engineering and Operations Management</strong>:
                      </br></br>
                      Ferreira, M. , Siiskonen, T., & Zivanovich, M. (2024).
                      <i>Towards metrological best practices in radiation protection</i>.
                      Proceedings of the International Joint Conference on Industrial Engineering and Operations Management.
                      IJCIEOM 2024.
                      DOI: <a href="https://abepro.org.br/proceedings/artigo.asp?e=icieom&a=2023&c=37886">10.14488/ijcieom2024_full_0057_37886</a>
                  </li>
                </ol>
            </article>

        </div>
    </div>
</div>

{% endblock %}

