{% block title %}
    Publications - GuideRadPROS
{% endblock %}

{% block active %}
    Impact
{% endblock %}

{% block content %}

<!-- Page title -->
<div id="main-wrapper" style="background: #aaaaaa; padding-bottom: 10px; padding-top: 50px">
    <div class="container" id="section-title-container">
        <h2 style="color:white;" id="section-title">Publications</h2>
    </div>
</div>

<!-- Publications -->
<div id="main-wrapper">
    <div class="container">
        <div id="content">

            <!-- Content -->
            <article>
                <p>Within the duration of the 22NRM07 GuideRadPROS EMP project, publications in international journals
                    will be made to communicate and disseminate the technical and scientific results of the project.</p>
            </article>

        </div>
    </div>
</div>

{% endblock %}

