{% block title %}
    Stakeholder Committee - GuideRadPROS
{% endblock %}

{% block active %}
    Participants
{% endblock %}

{% block content %}

<!-- Page title -->
<div id="main-wrapper" style="background: #aaaaaa; padding-bottom: 10px; padding-top: 50px">
    <div class="container" id="section-title-container">
        <h2 style="color:white;" id="section-title">Stakeholder Committee</h2>
    </div>
</div>

    <!-- Stakeholder Committee -->
    <div id="main-wrapper">
        <div class="container">
            <div id="content">

                <!-- Content -->
                <article>
                    <p>GuideRadPROS Stakeholder Committee has been established to consult and inform stakeholders about
                        the requirements and project outcomes during the project period. In order to accomplish this,
                        GuideRadPROS shall organise stakeholder meetings to identify problems and propose improvements
                        to the agreed tasks and activities. The following stakeholders contribute to the project as
                        part of the stakeholder committee:</p>

                    <div class="row" style="text-align: center;" id="stakeholders-container">

                        <div class="col-4 col-12-medium" id="international-organizations-div">
                            <dl id="stakeholders-list">
                                <dt><h3>International organizations</h3></dt>
                                <dd><a id="stakeholder-element" href="https://www.iso.org/standards.html">ISO - International Organization for Standardization</a></dd>
                                <dd><a id="stakeholder-element" href="https://www.iec.ch/homepage">IEC - International Electrotechnical Commission</a></dd>
                                <!-- <dd><a href="https://www.herca.org/">HERCA</a></dd> -->
                                <!-- <dd><a href="https://www.iaea.org/">IAEA</a></dd> -->
                                <dd><a id="stakeholder-element" href="https://eurados.sckcen.be/">EURADOS - European Radiation Dosimetry Group</a></dd>
                                <dd><a id="stakeholder-element" href="https://www.euramet.org/european-metrology-networks/radiation-protection">EMN-RP - European Metrology Network for Radiation Protection</a></dd>
                            </dl>
                        </div>
                        <div class="col-4 col-12-medium" id="national-organizations-div">
                            <dl id="stakeholders-list">
                                <dt><h3>National organizations</h3></dt>
                                <dd><a id="stakeholder-element" href="https://www.bfs.de/DE/home/home_node.html">
                                    BfS - German Federal Office For Radiation Protection</a></dd>
                                <dd><a id="stakeholder-element" href="https://www.irsn.fr/">
                                    IRSN - L'Institut de Radioprotection et de Sûreté Nucléaire</a></dd>
                                <dd><a id="stakeholder-element" href="https://www.stralsakerhetsmyndigheten.se/en/">
                                    SSM - Swedish Radiation Safety Authority</a></dd>
                                <dd><a id="stakeholder-element" href="https://www.regjeringen.no/en/dep/hod/organisation-and-management-of-the-ministry-of-health-and-care-services/etater-og-virksomheter-under-helse--og-omsorgsdepartementet/Subordinate-institutions/norwegian-radiation-and-nuclear-safety-authority/id279760/#:~:text=Norwegian%20Radiation%20and%20Nuclear%20Safety%20Authority%20is%20the%20government%20authority,in%20medicine%2C%20manufacturing%20and%20research.">
                                        DSA - Norwegian Radiation and Nuclear Safety Authority</a></dd>
                                <dd><a id="stakeholder-element" href="https://www.irsn.fr/">
                                    DZZ - Radiation Protection Society of Serbia and Montenegro</a></dd>
                                <dd><a id="stakeholder-element" href="https://www.smu.sk/slovak-institute-metrology/">
                                    SMU - Slovak Institute of Metrology</a></dd>
                                <!-- <dd><a href="https://www.airp-asso.it/">AIRP - L'Associazione Italiana di Radioprotezione</a></dd> -->
                            </dl>
                        </div>
                        <div class="col-4 col-12-medium">
                            <dl id="stakeholders-list">
                                <dt><h3>Others</h3></dt>
                                <dd><a id="stakeholder-element" href="https://www.ptwdosimetry.com/en/">PTW</a></dd>
                                <dd><a id="stakeholder-element" href="https://www.thermofisher.com/es/es/home.html">Thermo Fisher Scientific</a></dd>
                                <dd><a id="stakeholder-element" href="https://www.landauer.com/">LANDAUER</a></dd>
                                <dd><a id="stakeholder-element" href="https://www.mpanrw.de/">MPA NRW</a></dd>
                                <dd><a id="stakeholder-element" href="https://inte.upc.edu/en/services/laboratories/calibration-and-dosimetry">
                                    INTE Calibration and Dosimetry Laboratory</a></dd>
                                <dd><a id="stakeholder-element" href="https://www.fortum.com/">Fortum</a></dd>
                                <!-- <dd><a href="https://polimaster.com/eu/">Polimaster</a></dd> -->
                                <!-- <dd><a href="https://atomtex.com/en/node/">Atomtex</a></dd> -->
                            </dl>
                        </div>
                    </div>
                </article>

            </div>
        </div>
    </div>

{% endblock %}

